<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" href="css/searchResults.css" />
<meta charset="utf-8" />
<title>List by Author</title>
</head>

<body>
	<div align="right">
		<a href="/">Home</a>
	</div>

	<div th:if="${#lists.isEmpty(excerpts)}">There is no book from
		this author in the database.</div>
	<div th:unless="${#lists.isEmpty(excerpts)}">
		<p>
			<span th:text="${author.name}">name of the author </span> <br> <span
				th:text="${count}">number of excerpts </span> excerpts were found
		</p>
		<div id="div1">
			<table
				style="width: 100%; border: 1px solid black; border-collapse: collapse;">
				<thead>
					<tr>
						<th>ExcerptID</th>
						<th>Title</th>
						<th>Text</th>
						<th>Tags</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="excerpt, iter : ${excerpts}">
						<td style="border: 1px solid black;"
							th:text="${excerpt.excerptID}">ExcerptID</td>
						<td style="border: 1px solid black;" th:text="${excerpt.title}">Title</td>
						<td style="border: 1px solid black;" th:text="${excerpt.text}">Text</td>
						<td style="border: 1px solid black;"
							th:text="${descriptions[iter.index]}">Tags</td>
						<td style="border: 1px solid black;"><a
							th:href="@{/displayComments/{comments}(comments=${#uris.escapePathSegment(excerpt.comments)})}">Comments</a>
							<a
							th:href="@{/edit/{excerptID}/{author}/{title}/{text}/{comments}/{description}/(excerptID=${excerpt.excerptID}, author=${author.name}, title=${excerpt.title}, text=${excerpt.text}, comments=${#uris.escapePathSegment(excerpt.comments)}, description=${descriptions[iter.index]})}">Edit</a>
							<a
							th:href="@{/delete/{excerptID}/{author}/{title}/{tag}/(excerptID=${excerpt.excerptID}, author=${author.name}, title='title', tag='tag')}"
							onclick="return confirm('Are you sure you want to delete this excerpt?');">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>