<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" href="css/searchResults.css" />
<meta charset="utf-8" />
<title>List by Tag</title>
</head>

<body>
	<div align="right">
		<a href="/">Home</a>
	</div>

	<div th:if="${#lists.isEmpty(outlines)}">There is no such tag in
		the database.</div>
	<div th:unless="${#lists.isEmpty(outlines)}">
		<p>
			<span th:text="${tag.description}">name of the tag</span>: <span
				th:text="${count}">number of outlines </span> outlines were found
		</p>
		<div id="div1">
			<table
				style="width: 100%; border: 1px solid black; border-collapse: collapse;">
				<thead>
					<tr>
						<th>OutlineId</th>
						<th>Plot</th>
						<th>Tags</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="outline, iter : ${outlines}">
						<td style="border: 1px solid black;"
							th:text="${outline.outlineID}">ExcerptId</td>
						<td style="border: 1px solid black;" th:text="${outline.plot}">Author</td>
						<td style="border: 1px solid black;"
							th:text="${descriptions[iter.index]}">Tags</td>
						<td style="border: 1px solid black;"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>