table.table1 {
	table-layout: fixed;
	width: 300px;
}

th.table1, td.table1 {
	width: 100px;
}

table.table2 {
	table-layout: fixed;
	width: 1000px;
}

th.table2, td.table2 {
	width: 200px;
	overflow: auto;
}

a:link, a:visited {
	background-color: rgb(121, 134, 181);
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 60%;
}

button {
	background-color: rgb(121, 134, 181);
	border: none;
	color: white;
	text-align: center;
	font-size: 14px;
	width: 60%;
}

input[type=submit] {
	background-color: rgb(121, 134, 181);
	border: none;
	color: white;
	cursor: pointer;
	width: 60%;
}

.validation-author, .validation-text, .validation-title, .validation-tag,
	.validation-id {
	color: rgb(209, 203, 29);
}