html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

div {
	width: 50%;
	height: 50%;
	float: left;
}

#div1 {
	background: #DDD;
}

#div2 {
	background: #AAA;
}

#div3 {
	background: #777;
}

#div4 {
	background: #444;
}

table.table1 {
	table-layout: fixed;
	width: 300px;
}

a:link, a:visited {
	background-color: rgb(121, 134, 181);
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

button {
	background-color: rgb(121, 134, 181);
	border: none;
	color: white;
	text-align: center;
	font-size: 14px;
	width: 100%;
}

input[type=submit] {
	background-color: rgb(121, 134, 181);
	border: none;
	color: white;
	cursor: pointer;
	width: 100%;
}

.validation-author, .validation-text, .validation-title, .validation-tag,
	.validation-id {
	color: rgb(209, 203, 29);
}