<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Excerpt added to the database</title>
</head>

<body>
	<div align="right">
		<a href="/">Home</a>
	</div>
	<div align="right">
		<a href="createExcerpt">Create another excerpt</a> <br /> <br />
	</div>
	<div align="left">
		<h2>information added to the database</h2>
		<table style="width: 40%;">
			<tr>
				<td>author</td>
				<td th:text="${excerpt.author}" /></td>
			</tr>
			<tr>
				<td>title</td>
				<td th:text="${excerpt.title}" /></td>
			</tr>
			<tr>
				<td>tags</td>
				<td th:text="${tag.description}" /></td>
			</tr>
			<tr>
				<td>text</td>
				<td th:text="${excerpt.text}" /></td>
			</tr>
			<tr>
				<td>comments</td>
				<td th:text="${excerpt.comments}" /></td>
		</table>
	</div>
</body>
</html>