<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" href="css/index.css" />
<meta charset="utf-8" />
<title>home</title>
</head>

<body>
	<div align="right">
		<form th:action="@{truncateTables}" id="truncate"></form>
		<table class="table1">
			<tr>
				<td><input type="submit" value="delete all entries in the db"
					form="truncate" class="btn btn-danger"
					th:data-confirm-delete="|Are you sure you want to delete all entries in the database?|"
					onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false" /></td>
			</tr>
		</table>
	</div>
	<br>
	<div align="left">
		<form th:action="@{getAllTags}" method="post" id="tags"></form>
		<table class="table2">
			<tr>
				<td><a href="getAllExcerpts">display all excerpts</a></td>
			</tr>
			<tr>
				<td><a href="createExcerpt">create a new excerpt</a></td>
			</tr>
			<tr>
				<td><input type="submit" value="show all tags" form="tags" /></td>
			</tr>
		</table>
		<br>
		<form action="#" th:action="@{/getByParameter}" method="post"
			id="title"></form>
		<form action="#" th:action="@{/getByParameter}" method="post"
			id="name"></form>
		<form action="#" th:action="@{/getByParameter}" method="post" id="tag"></form>
		<form action="#" th:action="@{/getByParameter}" method="post" id="id"></form>
		<table class="table2">
			<tr>
				<td>enter the name of the book</td>
				<td><input type="text" th:field="${excerpt.title}" form="title" /></td>
				<td><button type="submit" name="parameter" value="title"
						form="title">submit</button></td>
				<td><button type="reset" form="title">reset</button></td>
				<td class="validation-title"
					th:if="${#fields.hasErrors('excerpt.title')}"
					th:errors="${excerpt.title}"></td>
			</tr>
			<tr>
				<td>enter the author's name</td>
				<td><input type="text" th:field="${author.name}" form="name" /></td>
				<td><button type="submit" name="parameter" value="name"
						form="name">submit</button></td>
				<td><button type="reset" form="name">reset</button></td>
				<td class="validation-author"
					th:if="${#fields.hasErrors('author.name')}"
					th:errors="${author.name}"></td>
			</tr>
			<tr>
				<td>enter a tag</td>
				<td><input type="text" th:field="${tag.description}" form="tag" /></td>
				<td><button type="submit" name="parameter" value="tag"
						form="tag">submit</button></td>
				<td><button type="reset" form="tag">reset</button></td>
				<td class="validation-tag"
					th:if="${#fields.hasErrors('tag.description')}"
					th:errors="${tag.description}"></td>
			</tr>
			<tr>
				<td>enter an excerpt ID</td>
				<td><input type="text" th:field="${excerpt.excerptID}"
					form="id" /></td>
				<td><button type="submit" name="parameter" value="excerptID"
						form="id">submit</button></td>
				<td><button type="reset" form="id">reset</button></td>
				<td class="validation-id"
					th:if="${#fields.hasErrors('excerpt.excerptID')}"
					th:errors="${excerpt.excerptID}"></td>
			</tr>
		</table>
	</div>
	<div>
		<table class="table2">
			<tr>
				<td><a href="getAllOutlines">display all outlines</a></td>
			</tr>
			<tr>
				<td><a href="createOutline">create a new outline</a></td>
			</tr>
		</table>
	</div>
</body>
</html>