<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<style>
input[type=text] {
	width: 90%;
	box-sizing: border-box;
}

button {
	background-color: #7986b5;
	border: none;
	color: white;
	padding: 4px 32px;
	text-align: center;
	font-size: 14px;
}

.validation-author, .validation-text, .validation-title, .validation-tag,
	.validation-comments {
	color: #d1cb1d;
}
</style>

<meta charset="utf-8" />
<title>new excerpt form</title>
</head>

<body>
	<div align="right">
		<a href="/">home</a>
	</div>

	<div align="center">
		<h2>create a new excerpt</h2>
		<br />
		<form action="#" th:action="@{/save}" method="post">

			<table style="width: 100%;">
				<tr>
					<td>author</td>
					<td><input type="text" th:field="${excerpt.author}" /></td>
					<td class="validation-author"
						th:if="${#fields.hasErrors('excerpt.author')}"
						th:errors="${excerpt.author}"></td>

					<td>text</td>
					<td rowspan="3"><textarea rows="10" cols="90"
							th:field="${excerpt.text}" /></textarea></td>
					<td rowspan="3" class="validation-text"
						th:if="${#fields.hasErrors('excerpt.text')}"
						th:errors="${excerpt.text}"></td>

				</tr>
				<tr>
					<td>title</td>
					<td><input type="text" th:field="${excerpt.title}" /></td>
					<td class="validation-title"
						th:if="${#fields.hasErrors('excerpt.title')}"
						th:errors="${excerpt.title}"></td>
				</tr>

				<tr>
					<td>tags</td>
					<td><input type="text" th:field="${tag.description}" /></td>
					<td class="validation-tag"
						th:if="${#fields.hasErrors('tag.description')}"
						th:errors="${tag.description}" /></td>
				</tr>
				<tr>
					<td>comments</td>
				</tr>
				<tr>
					<td colspan="8"><textarea rows="15" cols="150"
							th:field="${excerpt.comments}" /></textarea></td>
					<td class="validation-comments" colspan="5"
						th:if="${#fields.hasErrors('excerpt.comments')}"
						th:errors="${excerpt.comments}"></td>

				</tr>
				<tr>
					<td><button type="submit">save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>